@import "../components";
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    // .main__text
    &__text {
        @include text1;
        font-size: 56px;
        line-height: 150%;
        text-align: center;
    }
    // .main__arrow
    &__arrow {
        position: absolute;
        bottom: 40px;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.3);
        }
    }
}
