.work {
    padding-top: 80px;
    padding-bottom: 120px;
    // .work__text
    &__text {
        @include text1;
        font-size: 40px;

        margin-bottom: 97px;
    }
    // .work__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 97px;
    }
    // .work__item
    &__item {
    }
}
.item {
    display: flex;
    justify-content: center;
    gap: 32px;
    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
    // .item__img
    &__img {
        @include img-border;
        max-width: calc(50% - 32px);
        object-fit: contain;
    }
    // .item__content
    &__content {
        @include text1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: calc(50% - 32px);
    }
    // .item__title
    &__title {
        @include text1;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: $cl2;

        margin-bottom: 16px;
    }
    // .item__description
    &__description {
        @include text1;
        font-size: 32px;

        margin-bottom: 24px;
    }
    // .item__category
    &__category {
        @include text1;
        font-size: 18px;
        color: $cl2;

        margin-bottom: 32px;
    }
}

@media screen and (max-width: 900px) {
    .item__description {
        font-size: 28px;
    }
}

@media screen and (max-width: 800px) {
    .item__title {
        font-size: 16px;
    }
    .item__description {
        font-size: 24px;
    }
    .item__category {
    }
}

@media screen and (max-width: 700px) {
    .item__title {
        font-size: 14px;
    }
    .item__description {
        font-size: 20px;
    }
    .item__category {
    }
}

@media screen and (max-width: 600px) {
    .work {
        padding-left: 15px;
        padding-right: 15px;

        padding-top: 30px;
        padding-bottom: 50px;

        &__text {
            margin-bottom: 37px;
            line-height: 120%;
        }
        &__list {
            gap: 67px;
        }
    }
    .item {
        flex-direction: column;
        align-items: center;
        gap: 22px;
        &:nth-child(odd) {
            flex-direction: column;
        }
        &__img {
            max-width: 100%;
        }
        &__content {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 380px) {
    .work__list {
        gap: 45px;
    }
}

@media screen and (max-width: 300px) {
    .work__list {
        gap: 40px;
    }
}

// ------------- //

@media screen and (max-width: 1000px) {
    .work {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 700px) {
    .work {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    .work {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}
