$cl1: linear-gradient(
    90deg,
    rgba(188, 60, 216, 1) 0%,
    rgba(197, 75, 140, 1) 100%
);
$cl2: #e3e4e6;
$cl3: rgba(227, 228, 230, 0.55);
$cl4: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
); ;
