@import "reseter";
@import "vars";
@import "fonts";
@import "components";
@import "./blocks/header";
@import "./blocks/home";
@import "./blocks/clients";
@import "./blocks/work";
@import "./blocks/about-me";
@import "./blocks/footer";
@import "./blocks/burger-menu";
.wrapper {
    min-height: 100vh;
    // -30px to padding
    max-width: 1196px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    z-index: 10;
}
body {
    background: $cl4;
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: rgba(188, 60, 216, 1);
}

::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: $cl4; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-image: $cl1; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

[hidden] {
    display: none !important;
}
