@import "reseter";
@import "vars";
@import "fonts";
@import "components";
@import "./blocks/header";
@import "./blocks/home";
@import "./blocks/clients";
@import "./blocks/work";
@import "./blocks/about-me";
@import "./blocks/footer";
.wrapper {
    min-height: 100vh;
    // -10px to padding
    max-width: 1216px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
body {
    background: $cl4;
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: rgba(188, 60, 216, 1);
}

[hidden] {
    display: none !important;
}
